<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.java.com.dao.UserRoleMapper">
  <resultMap id="BaseResultMap" type="main.java.com.model.UserRoleKey">
    <id column="role_id" jdbcType="BIGINT" property="roleId" />
    <id column="user_id" jdbcType="BIGINT" property="userId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="main.java.com.model.UserRoleKey">
    delete from sys_user_role
    where role_id = #{roleId,jdbcType=BIGINT}
      and user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="main.java.com.model.UserRoleKey">
    insert into sys_user_role (role_id, user_id)
    values (#{roleId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="main.java.com.model.UserRoleKey">
    insert into sys_user_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="main.java.com.model.UserRoleKey">
    <id column="role_id" jdbcType="BIGINT" property="roleId" />
    <id column="user_id" jdbcType="BIGINT" property="userId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="main.java.com.model.UserRoleKey">
    delete from sys_user_role
    where role_id = #{roleId,jdbcType=BIGINT}
      and user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="main.java.com.model.UserRoleKey">
    insert into sys_user_role (role_id, user_id)
    values (#{roleId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="main.java.com.model.UserRoleKey">
    insert into sys_user_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>